<div class="layout">

            <sidebar></sidebar>

<div class="chat-wrapper">
      <conversation-header></conversation-header>
    <div class="chat-body">
          <message-list></message-list>
   </div>
    <div class="chat footer">
          <message-form></message-form>
   </div>
</div>
</div>


<!--
<div class="container">
      <div class="row">
            <div class="col-xs-6 col-sm-3 no-float" id="sidebar" role="navigation">
                  <sidebar></sidebar>
            </div>

      <div class="col-xs-12 col-sm-9 no-float parent">
            <div class="pin-vertically" style="background-color: blue;">
            </div>
             <message-list></message-list>
            <message-form></message-form>
      </div>
</div>
</div>
-->
